

@{
    ViewData["Title"] = "Decrypt";
}

<h1>@ViewData["Title"]</h1>


<div class="card align-content-center"  style="width: 50rem;" >
    <div class="card-header">
                <h3>Nombre de usuario</h3>
            </div>
    <div class="card-body">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Desencriptar contraseña</span>
            <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button class="btn btn-primary">Desencriptar</button>

    </div>
</div>